<div id="example">
  <div>Hello Guys</div>
  <div>I`m Nains</div>
  <div>I`m Program and developer</div>
  <div>This is a</div>
  <div>Creative Animated Effect</div>
  <div>And Text transitions</div>
</div>
<br /><br /><br /><br />
<p class="gap">
  Our daily mission : find and showcase the best web design inspirations and
  trends. Every day, we publish fresh and creative new websites ideas made by
  creative agencies and web designers from all over the world.
</p>
<br /><br />
<div class="btn">Get Start</div>
